In [3]:
"""Q.1 Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple"""
s= "Hello World"
l= [1,5,True,"hello", 2.58, "world", 55]
f= 88.65
t= (1,5,True,"hello", 2.58, "world", 55)
print("string: ",s)
print (type(s))
print("list: ",l)
print(type(l))
print("float: ",f)
print(type(f))
print("tuple: ",t)
print(type(t))

string:  Hello World
<class 'str'>
list:  [1, 5, True, 'hello', 2.58, 'world', 55]
<class 'list'>
float:  88.65
<class 'float'>
tuple:  (1, 5, True, 'hello', 2.58, 'world', 55)
<class 'tuple'>

In [4]:
"""Q.2 Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1
What will be the data type of the above given variable."""
var1=" "
var2= '[DS,ML,Python]'
var3= ['DS','ML','Python']
var4= 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [6]:
"""Q.3 Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **"""
a= int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
w= a/b #division
print("Division of two numbers is: ",w)
x= a%b #modulus
print("Modulus of two numbers is: ",x)
y= a//b #floor division
print("Floor division of two numbers is: ",y)
z= a**b #exponent
print("Exponent of two numbers is: ",z)

Enter the first number:  4
Enter the second number:  2

Division of two numbers is:  2.0
Modulus of two numbers is:  0
Floor division of two numbers is:  2
Exponent of two numbers is:  16

In [7]:
"""Q.4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""
l= [1,5,True,"hello", 2.58, "world", 55,False,"88",63.30]
for k in l:
    print(k)
    print(type(k))

1
<class 'int'>
5
<class 'int'>
True
<class 'bool'>
hello
<class 'str'>
2.58
<class 'float'>
world
<class 'str'>
55
<class 'int'>
False
<class 'bool'>
88
<class 'str'>
63.3
<class 'float'>

In [9]:
"""Q.5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))
count = 0  # Counter variable to keep track of the number of divisions
while a >= b:
    if a % b == 0:
        a = a // b
        count += 1
    else:
        break
if count > 0:
    print("Number A is divisible by number B ", count, "times.")
else:
    print("Number A is not divisible by number B.")

Enter number A:  85
Enter number B:  4

Number A is not divisible by number B.

In [10]:
"""Q.6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""
l= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [11]:
"""Q.7 What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

#Mutable objects are those objects whose value can be changed after they are created.
l = [1,5,"hello",9.8,88, "everyone",55.69]
print("list before changing value at index 5: ",l)
l[5] = "world"
print("list after changing value at index 5: ",l)

#Immutable object are those object whose value can not be changed after creation.
s = "Hello World"
print("string before changing value at index 8: ",s)
s[8] = "l"
print("list after changing value at index 8: ",s)

list before changing value at index 5:  [1, 5, 'hello', 9.8, 88, 'everyone', 55.69]
list after changing value at index 5:  [1, 5, 'hello', 9.8, 88, 'world', 55.69]
string before changing value at index 8:  Hello World

TypeError: 'str' object does not support item assignment