In [2]:
def test():
    print("Created my first function")

In [4]:
test()

Created my first function

In [6]:
def test1():
    return "Created my first function"

In [9]:
test1() + " in python"

'Created my first function in python'

In [19]:
def test2():
    return "Hello World", 23, 85.6, True , 5+8j, "Python"

In [21]:
a= test2()

In [22]:
a

('Hello World', 23, 85.6, True, (5+8j), 'Python')

In [23]:
a[::-1]

('Python', (5+8j), True, 85.6, 23, 'Hello World')

In [28]:
a[-1][2:6]

'thon'

In [36]:
a,b,c,d,e,f= test2()

In [40]:
print(a, b, c, d, e, f)

Hello World 23 85.6 True (5+8j) Python

In [99]:
def test3(a,b,c):
    '''Check if triangle is right angle or not'''
    if (c*c) == (a*a) + (b*b):
        return "This is right angle triangle"
    else:
        return "This is not a right angle triangle"

In [44]:
test3(5,12,13)

'This is right angle triangle'

In [45]:
test3(8,6,20)

'This is not a right angle triangle'

In [98]:
def test4(l):
    '''Extract num data from the list'''
    l1= []
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    return l1

In [63]:
test4([0,1,2,3,"Hello",4,'Python',85.6,[89,20,44,63.4,]])

[0, 1, 2, 3, 4, 85.6]

In [97]:
def test5(l):
    '''Extract num data from the list and also from the list/tuple/set which are present inside main list '''
    l1=[]
    for i in l:
        if type(i) == list or type(i) == tuple or type(i) == set:
            for j in i:
                if type(j) == int or type(j) == float:
                    l1.append(j)
        else:
            if type(i) == int or type(i) == float:
                l1.append(i)
    return l1

In [ ]:
test5((3,"Hello", 850.54,(1,23,4),['Rage', 8.24,74],"World", {0, 66, 8+5j, True}))

[3, 850.54, 1, 23, 4, 8.24, 74, 0, 66]

In [114]:
s = (3, "Hello", 850.54, (1, 23, 4), ['Rage', 8.24, 74], "World", {0, 66, 8+5j, True})
s1=[]
for i in s:
    if type(i) == int or type(i) == float:
        s1.append(i)
print(s1)

[3, 850.54]

In [115]:
def test6(*args):
    return args

test6(1,806,"Hello", True)

(1, 806, 'Hello', True)

In [116]:
def test7(c,d,a=5, b=6):
    return a,b,c,d

test7(9,2)

(5, 6, 9, 2)

In [119]:
test7(7,8,a=0)

(0, 6, 7, 8)

In [129]:
def test8(**kargs):
    return kargs

test8(name = ["Ayush","Rage","Amit","Ayan"], city= ["Kanpur","Mumbai","Jaipur","Chandigarh"], gender=["male","male","male","male"])

{'name': ['Ayush', 'Rage', 'Amit', 'Ayan'],
 'city': ['Kanpur', 'Mumbai', 'Jaipur', 'Chandigarh'],
 'gender': ['male', 'male', 'male', 'male']}